.product-img {
  width: 300px;
  height: 300px;
}

.category-link {
  color: black !important;
}

.category-link:hover {
  color: #813533 !important;
}

.card {
  transition: 0.3s;
  min-height: 500px;
}

.card-hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transform: translateY(-3px);
}

.product-title:hover {
  color: #B22222;
}

.hover-red:hover {
  color: #B22222 !important;
}

.qty-input {
  width: 50px !important;
  height: 30px;
  text-align: center;
  background-color: white !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btnRemoveCartItem,
.btnQtyControl {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.qty-control {  
  font-size: 30px;
  font-weight: lighter !important;
}

#toast {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.cart-text-muted {
  --bs-text-opacity: 1;
  color: #b9bcbe !important;
}

.btn-orange {
  color: #fff !important;
  background-color: #d36c4b !important;
  border-color: #d36c4b !important;
}

.btn-orange:hover {
  color: #fff !important;
  background-color: #b65f41 !important;
  border-color: #ad5234 !important;
}